@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
body{
    font-family: 'Jost', sans-serif;
    font-style: normal;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    overflow-x: hidden;
    overflow-y: hidden;
}
select {
    border:none;
    font-size: 100%;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    color: #c5c5c5;
    font-family: 'Jost', sans-serif;
    padding: 2.5px 2.5px 2.5px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#army{margin: 20px 0 0 20px;}/*Позиціювання блоку солдат*/
#tanks{margin: 20px 0 0 130px;}/*Позиціювання блоку танків*/
#planes{margin: 20px 0 0 240px;}/*Позиціювання блоку літаків*/
header{/*Стилізація 3 блоків*/
    font-size: 92.5%;
    padding: 7.5px 5px 5px 0;
    text-align: right;
    color: #c5c5c5;
    position: fixed;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    width: 95px;
    height: 22.5px;
    font-weight: 300;
    border-radius: 3px;
    display: inline-block;
}
#ak{/*Позиціювання картинки автомату*/
    margin: 5px 0 0 -36px;
    height: auto;
    width: 30%;
    position: absolute;
}
#tank{/*Позиціювання картинки танку*/
    margin: 4px 0 0 -42.5px;
    height: auto;
    width: 35%;
    position: absolute;
}
#plane{/*Позиціювання картинки літака*/
    margin: 4px 0 0 -50px;
    height: auto;
    width: 35%;
    position: absolute;
}
section{/*Позиціювання і стилізація блоку балансу з прапором*/
    position: fixed;
    margin: 65px 0 0 18px;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    height: 90px;
    width: 322px;
    font-weight: 300;
    border-radius: 3px;
}
#flag{/*Позиціювання і стилізація прапору*/
    height: 65%;
    border-radius: 5px;
    margin: 15px 0 0 15px;
}
#name{/*Позиціювання напису "Поточний баланс"*/
    color: rgb(197, 197, 197);
    margin: 12.5px 0 0 15px;
    position: absolute;
    font-size: 125%;
}
#ideology{/*Позиціювання напису "Поточний баланс"*/
    color: rgb(197, 197, 197);
    margin: 40px 0 0 12.5px;
    position: absolute;
    font-size: 100%;
}
#place{
    border-radius: 3px;
    border: 2px #252525 solid;
    position: fixed;
    background-color: rgb(197, 197, 197);
    width: 118.5em;
    height: 58.5em;
    display: block;
}
content{/*Позиціювання і стилізація блоку паузи*/
    cursor: pointer;
    position: fixed;
    margin: 15px 0 0 1830px;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    height:55px;
    width: 55px;
    font-weight: 300;
    border-radius: 100%;
}
#pause{
    width: 35px;
    margin: 10px 0 0 10px;
}
#pause-menu{
    display: none;
    margin: 250px 0 0 850px;
    position: absolute;
    height: 250px;
    width: 250px;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    border: 2px #252525 solid;
    border-radius:5px;
}
#pause-text{
    color:#ffffff;
}
#continue, #reload, #pause-exit{
    font-family: 'Jost', sans-serif;
    cursor: pointer;
    font-size: 100%;
    margin: 12.5px;
    width: 175px;
    height:  45px;
    display: block;
    border-radius:5px;
    border: 2px #252525 solid;
}
main{    
    cursor: pointer;
    position: fixed;
    margin: 85px 0 0 1842.5px;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    height:30px;
    width: 30px;
    font-weight: 300;
    border-radius: 100%;
}
#help{
    width: 15px;
    margin: 6px 0 0 7px;
}
#country-menu{
    display: none;
    margin: 250px 0 0 800px;
    position: absolute;
    height: 300px;
    width: 200px;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    border: 2px #252525 solid;
    border-radius:5px;
}
#president-reselect{
    font-family: 'Jost', sans-serif;
    cursor: pointer;
    font-size: 100%;
    width: 130px;
    height:  45px;
    display: block;
    border-radius:5px;
    border: 2px #252525 solid;
}
#president{
    margin: 30px 0 0 0;
    width: 125px;
    border-radius:5px;
}
#president-name{
    color: rgb(197, 197, 197);
}
#rename-menu{
    display: none;
    margin: 275px 0 0 800px;
    position: absolute;
    height: 150px;
    width: 200px;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    border: 2px #252525 solid;
    border-radius:5px;
}
#country-name{
    text-align:center;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
    font-size: 100%;
    margin: 25px 0 15px 0;
    width: 120px;
    height:  35px;
    border-radius:5px;
    border: 2px #252525 solid;
}
#rename-button{
    font-family: 'Jost', sans-serif;
    cursor: pointer;
    font-size: 100%;
    width: 130px;
    height:  45px;
    display: block;
    border-radius:5px;
    border: 2px #252525 solid;
}
#help-menu{
    display: none;
    margin: 200px 0 0 600px;
    position: absolute;
    height: 500px;
    width: 750px;
    background-color: #494949;
    border: 2px #252525 solid;
    border-radius:5px;
}
#help-place{
    position: absolute;
    height: 465px;
    width: 745px;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    border: 2px #252525 solid;
    border-radius:5px;
}
dl{
    font-size: 125%;
    margin: 25px 0 0 25px;
}
dd{
    font-size: 75%;
}
#communication-menu-belarus{
    display: none;
    margin: 275px 0 0 800px;
    position: absolute;
    height: 225px;
    width: 250px;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    border: 2px #252525 solid;
    border-radius:5px;
}
#war-belarus, #communication-menu-belarus-close{
    font-family: 'Jost', sans-serif;
    margin: 15px 0 15px 0;
    cursor: pointer;
    font-size: 100%;
    width: 175px;
    height:  50px;
    display: block;
    border-radius:5px;
    border: 2px #252525 solid;
}
#belarus-name{
    color: rgb(197, 197, 197);
    font-size: 150%;
}
#communication-menu-poland{
    display: none;
    margin: 275px 0 0 800px;
    position: absolute;
    height: 225px;
    width: 250px;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    border: 2px #252525 solid;
    border-radius:5px;
}
#war-poland, #communication-menu-poland-close{
    font-family: 'Jost', sans-serif;
    margin: 15px 0 15px 0;
    cursor: pointer;
    font-size: 100%;
    width: 175px;
    height:  50px;
    display: block;
    border-radius:5px;
    border: 2px #252525 solid;
}
#poland-name{
    color: rgb(197, 197, 197);
    font-size: 150%;
}
#communication-menu-muscovy{
    display: none;
    margin: 275px 0 0 800px;
    position: absolute;
    height: 225px;
    width: 250px;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    border: 2px #252525 solid;
    border-radius:5px;
}
#war-muscovy, #communication-menu-muscovy-close{
    font-family: 'Jost', sans-serif;
    margin: 15px 0 15px 0;
    cursor: pointer;
    font-size: 100%;
    width: 175px;
    height:  50px;
    display: block;
    border-radius:5px;
    border: 2px #252525 solid;
}
#muscovy-name{
    color: rgb(197, 197, 197);
    font-size: 150%;
}
#hello{
    display: none;
    margin: 325px 0 0 600px;
    position: absolute;
    height: 150px;
    width: 650px;
    background-color: #494949;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    border: 2px #252525 solid;
    border-radius:5px;
}
#hello-text{
    color: rgb(197, 197, 197);
    font-size: 150%;
}
b{
    background: linear-gradient(90deg, rgb(0, 0, 0) 62.5%, rgb(255, 0, 0) 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}